table,tr,th,td{

    border-collapse: collapse;
    text-align: center;
    border: 1px solid #e60b66;
}
table {
    width: 100%;
}

#result {
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #e60b66;
}




