.nav ul,
.nav li{
    list-style: none;
    float: left;
    margin: 5px;
    color: blueviolet;
    font-size: x-large;
    text-decoration: none;
    display: flex;
}
.nav{
    background-color: beige;
    width: 100%;
    height: auto;
    
}
/* a:link{
    color: green;
    background-color: transparent;
    text-decoration: none;
} */
a:hover{
    color: blue;
    background-color: white;
    text-decoration: dotted;
    padding: 3px;
}
a:active{
    color: yellow;
    background-color: green;
    text-decoration: underline;
}
a:visited{
    color: none;
    background-color: aliceblue;
    text-decoration: line-through;
}